/* Fancy ah ah Font */
@font-face {
    font-family: 'Fancy';
    src: url(assets/GFSDidot.otf);
}

@font-face {
    font-family: 'Fancy2';
    src: url(assets/HenriDidot.otf);
}

/* Navbar styles */
.navBar {
    background-color: #2b2b2b;
    border-bottom: thick solid #2b2b2b; 
    font-size: 20px;
    box-shadow: 0 0 2px #222, 0 0 5px #222;
    transition: 0.2s ease-in-out;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 1000;
    justify-content: space-between; /* Space between the elements */
}

.navBar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center; /* Center the items */
    flex-grow: 1;
}

.navBar li {
    margin: 0 15px; 
    margin-top: 25px;
    transition: 0.2s ease-in-out;
}

.navBar .login {
    margin-left: auto; /* Push the login button to the right */
}

.navBar a {
    font-family: Fancy2;
    font-size: 25px;
    text-decoration: none; 
    color: whitesmoke; 
    padding: 10px 15px; 
    display: inline-block;
    transition: 0.2s ease-in-out;
}

.navBar a:hover {
    background-color: #2b2b2b;
    color: black; 
    border-radius: 5px; 
    transition: 0.2s ease-in-out;
    font-size: 30px;
    text-shadow: #222, 12px;
}

.navBar img {
    z-index: 3;
    width: 90px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

/* Body Styles */
.bod {
    background-color: #f4f4f4;
    color: #222;
    width: 100%;
    min-height: 100vh; 
    padding-top: 70px; 
}

/* Fancy Javascript Stuff */
section {
    font-family: Fancy;
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

section h1 {
    font-size: 60px;
    color: whitesmoke;
    text-shadow: 2px 2px 5px black, -2px -2px 5px black;
}

section h3 {
    font-size: 30px;
    color: whitesmoke;
    text-shadow: 2px 2px 5px black, -2px -2px 5px black;
}

.button-group {
    font-family: Fancy;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    width: 100%;
    height: 100px;
    transition: 0.2s ease-in-out;
}

.button-group button {
    font-family: Fancy;
    font-size: medium;
    width: 300px;
    height: 100px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 0 2px #222, 0 0 5px #222;
}

.button-group button:hover {
    color: #2b2b2b;
    font-size: large;
    background-color: #bdbcbc;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0); 
}

.back-vid {
    position: absolute;
    left: 0;
    filter: blur(0px);
    bottom: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

@media (min-aspect-ratio: 20/9) {
    .back-vid {
        width: 100vm;
        height: auto;
        object-fit: cover;
    }
}

/* For the Section dividers */
.divide {
    background-color: #2b2b2b;
    width: 100%;
    height: 50px;
    padding-bottom: -20px;
    left: 0;
    transform: translateY(-25px);
    box-shadow: 0 0 2px #222, 0 0 5px #222;
    margin-left: -15px;
    padding-right: 23px;
}