<!-- This will be the home main page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="bod">
    <!-- Navbar Section -->
    <nav class="navBar">
        <ul>
                <!-- Link to *Home* page -->
            <li><a href="{{ url_for('home') }}">Home</a></li>

            <img clas="logo" src="{{ url_for('static', filename='assets/Watch.png') }}" alt="Logo">

                <!-- Link to *Shop* page -->
            <li><a href="{{ url_for('shop') }}">Shop</a></li>
        </ul>
    </nav>

    <h1>Welcome to the Home Page!</h1>
    <p>This is the homepage of our site.</p>

</body>
</html>
