<!-- This will be the home main page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/static/assets/Watch.png" />
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="{{ url_for('static', filename='app.js') }}"></script>
</head>
<body>
    <!-- Navbar Section -->
    <nav class="navBar">
        <div class="left-items">
            <ul>
                <img class="logo" src="{{ url_for('static', filename='assets/Watch.png') }}" alt="Logo">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('shop') }}">Parts Shop</a></li>
                <li><a href="{{ url_for('repairs') }}">Repairs</a></li>
                <li><a href="{{ url_for('employee') }}">Employees</a></li>
                <li><a href="{{ url_for('customer') }}">Customers</a></li>
                <li><a href="{{ url_for('events') }}">Sales Events</a></li>
            </ul>
        </div>
        <div class="right-items">
            {% if session.get("employee_id") %}
                <a href="{{ url_for('login') }}" class="login">{{ session["employee_id"] }}</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="login">Login</a>
            {% endif %}
        </div>
    </nav>

    <!-- Background Video (Blur only, no slide-in) -->
    <video autoplay loop muted plays-inline class="back-vid">
        <source src="{{ url_for('static', filename='assets/1034067-hd_1920_1080_25fps.mp4') }}" type="video/mp4">
    </video>


    <section class="hidden">
        {% if session.get("first_name") %}
        <h1>Hello, {{ session["first_name"] }}!</h1>
        {% else %}
        <h1>Second Hand Watch Company</h1>
        {% endif %}
    </section>  

    <div>
        <nav class="divide"> <p>.</p> </nav>
    </div>

    <section class="hidden">
        <p>This is the homepage of our site.</p>
    </section>
</body>
</html>
