<!-- This will be the login main page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/static/assets/Watch.png" />
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="{{ url_for('static', filename='app.js') }}"></script>
</head>
<body>
    <!-- Navbar Section -->
    <nav class="navBar">
        <div class="left-items">
            <ul>
                <img class="logo" src="{{ url_for('static', filename='assets/Watch.png') }}" alt="Logo">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('shop') }}">Parts Shop</a></li>
                <li><a href="{{ url_for('repairs') }}">Repairs</a></li>
                <li><a href="{{ url_for('employee') }}">Employees</a></li>
                <li><a href="{{ url_for('customer') }}">Customers</a></li>
            </ul>
        </div>
        <div class="right-items">
            {% if session.get("employee_id") %}
                <a href="{{ url_for('login') }}" class="login">{{ session["employee_id"] }}</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="login">Login</a>
            {% endif %}
        </div>
    </nav>

    <!-- Background Video (Blur only, no slide-in) -->
    <video autoplay loop muted plays-inline class="back-vid">
        <source src="{{ url_for('static', filename='assets/3171546-hd_1920_1080_30fps.mp4') }}" type="video/mp4">
    </video>

    <section class="hidden">
        <section class="container">
            <div class="button-group">
                <h4>Second Hand Watch Company</h4>
                <form method="POST" action="{{ url_for('login') }}" class="center-form-log">
                    <p>Employee ID:</p>
                    <input name="employee_id" required>
                    <button type="submit">Login</button>
                    {% if message %}
                        <p class="status-msg">{{ message }}</p>
                    {% endif %}
                </form>
                <a href="{{ url_for('sign') }}"><button>Sign Up</button></a>
                
                
            </div>
        </section>
    </section>


</body>
</html>
